<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDftIIL6ab4EUtUBA2anfyq3RwNHAmKXGE</string>
	<key>GCM_SENDER_ID</key>
	<string>859085558360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suraj.focusflow</string>
	<key>PROJECT_ID</key>
	<string>focusflow-e997f</string>
	<key>STORAGE_BUCKET</key>
	<string>focusflow-e997f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859085558360:ios:59fb21399d19ee5932702d</string>
</dict>
</plist>